* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}
html {
  font-size: 62.5%;
}
body {
  /* width: 100%; */

  font-size: 1.6rem;
  font-family: "Sometype Mono", monospace;
  background-color: #d9c6b4;
  color: #fff;
  /* padding: 3rem; */
}

h1 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: rgb(41, 41, 41);
}

span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: #96704e;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  /* padding: 3rem; */
}

.nav {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.items {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  width: 30%;
}
.item {
  display: flex;
  padding: 0.3rem 0.3rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.item-index {
  flex: 2;
}

.item-name {
  flex: 3;
}

.overlay {
  position: absolute;

  bottom: -3600px;
  right: 0;
  width: 70%;
  height: 700px;
  padding: 3rem;
  background: #fff;
  color: rgb(41, 41, 41);

  overflow-x: hidden;
  overflow-y: scroll;

  z-index: 2;
  will-change: bottom;
  transform: translateZ(0) rotate(0deg);
  transform-origin: bottom center;
}

.overlay::-webkit-scrollbar {
  display: none;
}

.img-container {
  width: 100%;
  padding-bottom: 2em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 0;
}

.col:nth-child(1) {
  flex: 3;
}
.col:nth-child(2) {
  flex: 2;
}

#close-btn {
  cursor: pointer;
  opacity: 0.4;
}

.item-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 4rem 0;
}

.item-details p:nth-child(1) {
  flex: 3;
}

.item-details p:nth-child(2) {
  flex: 2;
}

@media (max-width: 800px) {
  .container {
    background-size: cover;
  }
  .items {
    width: 100%;
    /* bottom: 1em; */
  }

  .item-details {
    flex-direction: column;
  }
}
